# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/

# Virtual environments
.venv/
venv/
env/
.env

# --- Excel and data outputs ---
*.xlsx
*.xlsm
*.xlsb
*.csv
*.tmp
*.log

# --- VS Code ---
.vscode/

# --- Node/Electron (for later UI) ---
node_modules/
dist/
build/

### datafiles
*.db
*.db-shm
*.db-wal
**/*.parquet